{
  "plugins": ["jest", "@typescript-eslint"],
  "extends": ["plugin:github/recommended", "@rotki"],
  "rules": {
    "import/no-namespace": "off",
    "i18n-text/no-en": "off"
  },
  "env": {
    "node": true,
    "es6": true,
    "jest/globals": true
  }
}
